LetEmKnow/DerivedData/LetEmKnow/Build
LetEmKnow/DerivedData/LetEmKnow/Index
LetEmKnow/DerivedData
LetEmKnow/LetEmKnow.xcodeproj/xcuserdata
LetEmKnow/LetEmKnow.xcodeproj/project.xcworkspace/xcuserdata/keithelliott.xcuserdatad/UserInterfaceState.xcuserstate
